html,
body {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

h1,
h2 {
  margin: 0;
}

.logo {
  max-height: 73px;
  margin: 30px auto;
}

header {
  position: relative;
}

ul {
  margin: 0;
  padding: 20px;
  list-style: none;
  background-color: #ffd18c;
}

li {
  display: inline;
}

li a {
  color: #000;
  text-align: center;
  padding: 0px 20px;
  text-decoration: none;
}

li a.selected {
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

main {
  background-color: #fdf7f4;
  padding: 30px;
}

.accounts-dashboard {
  margin: 40px auto 50px auto;
  max-width: 1024px; /* prevents excessive stretching */
  padding: 0 30px;
  display: grid;
  grid-gap: 38px;

  /* Adjust grid columns to be flexible */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.accounts-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.account,
.spendings {
  font-weight: 700;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.account {
  padding: 30px 20px;
  background-color: #fff;
  border: 5px solid #ffa724;
}

.spendings {
  padding: 10px;
  font-size: 20px;
  background-color: #ffd18c;
}

/* BUTTONS */
button {
  width: 240px;
  font-size: 30px;
  font-weight: 700;
  margin: 0 5px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 30px;
  border: 5px solid #ffa724;
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: #dc5735;
}

/* TOGGLE SWITCH */
.toggle-switch {
  position: absolute;
  top: 25px;
  right: 10%;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffd18c;
  border-radius: 20px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #dc5735;
}

input:checked + .slider:before {
  transform: translateX(30px);
}
